.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
}

.circle {
  border-radius: 900px;
  height: 100px;
  width: 100px;
  background-color: black;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  width: fit-content;
}

.background {
  height: 100px;
  width: 800px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}